/** CSS STYLE **/

:root {
    --white: #fff;
    --translucentwhite: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --maindark: #42413c;
    --dark: #2a2626;
    --translucentdark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body, header {
    font: 16px/1.6em 'Open Sans', sans-serif;
    color: var(--dark);
}

header {
    position: relative;
}

h1, h2, h3 {
    font-family: 'Neucha', sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    max-width: 1100px;
    padding: 100px 137px 100px 165px;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 185px 30px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "left right"
}

.title-header {
    grid-area: header;
}

.left-block {
    grid-area: left;
}

.right-block {
    grid-area: right;
}

.title-header {
    color: var(--main);
}

.title-header span {
    color: var(--dark);
}

.main-img {
    height: 525px;
    top: 55px;
    position: absolute;
    right: -270px;
}


.more-details-button {
    margin-top: 40px;
    width: 148px;
    height: 49px;
    padding: 12px 24px;
    font-weight: bold;
    background-color: var(--main);
}


header:before {
    content:"";
    opacity: 0.1;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("../../src/images/background.png");
    background-size:cover;
}
