/** CSS STYLE **/

:root {
    --white: #fff;
    --translucentwhite: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --maindark: #42413c;
    --dark: #2a2626;
    --translucentdark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body, header {
    font: 16px/1.6em 'Open Sans', sans-serif;
    color: var(--dark);
}

h1, h2, h3 {
    font-family: 'Neucha', sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p, h1, h2, h4, h5, h6 {
    margin: 0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper > * {
    max-width: 1100px;
}

.width-limited {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.width-limited > * {
    max-width: 1100px;
}

header {
    position: relative;
    padding: 100px 0 100px 0;
    overflow-x: hidden;
    background-color: var(--light);
    opacity: 0.9;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 185px 30px;
    grid-template-rows: auto;
    grid-template-areas:
    "title title"
    "left right"
}

.title-header {
    grid-area: title;
}

.left-block {
    grid-area: left;
}

.right-block {
    grid-area: right;
}

.main-color {
    color: var(--main);
}

.title-header span {
    color: var(--dark);
}

.main-img {
    height: 525px;
    top: 55px;
    position: absolute;
    right: -270px;
}


.more-details-button {
    margin-top: 40px;
    width: 148px;
    height: 49px;
    padding: 12px 24px;
    font-weight: bold;
    background-color: var(--main);
}


header:before {
    content: "";
    opacity: 0.1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../src/images/background.png");
    background-size: cover;
}

.video-section {
    text-align: center;
    width: 100%;
    height: 814px;
    left: 0;
    background: var(--white);
}

.video-section span{
    color: var(--main);
}

.video-section h1{
    margin-top: 100px;
}

.video-sect-p {
    margin-top: 27px;
    margin-bottom: 30px;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    margin-bottom: -92px;
    border-width: 0;
}

.bottom-block {
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--maindark);
}

#navigation {
    padding: 100px 0;
    background-color: var(--maindark);
}

.navigation-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-areas:
    "title one two"
    "three four five"
}

.navig-title {
    grid-area: title;
}

.block-one {
    grid-area: one;
}

.block-two {
    grid-area: two;
}

.block-three {
    grid-area: three;
}

.block-four {
    grid-area: four;
}

.block-five {
    grid-area: five;
}

.navig-title h3 {
    font-size: 52px;
}

.number {
    margin-bottom: 40px;
    font-family: 'Neucha', sans-serif;
    font-size: 64px;
    line-height: 1;
}

#navigation div h3 {
    color: var(--main);
}

.white-text {
    color: var(--white);
}

.navig-title {
    background-color: var(--maindark);
}

.card {
    justify-items: center;
    background-color: var(--white);
    padding: 24px;
}

#ikea-effect:before {
    content:"";
    opacity: 0.1;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("../../src/images/background.png");
    background-size:cover;
}

#ikea-effect {
    position: relative;
    padding: 100px 0;
    background-color: var(--light);
    opacity: 0.9;
}

.top-part {
    display: flex;
    gap: 30px;
}

.top-part-right p {
    font-family: 'Neucha', sans-serif;
    font-size: 24px;
    color: var(--translucentdark);
}

.top-part-right-text {
    font-family: 'Neucha', sans-serif;
    font-size: 34px;
    line-height: 41px;
    margin-top: 30px;
}

.top-part-left {
    /*vertical-align: middle;*/
}

.down-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
    "title-down-part title-down-part"
    "down-part-left down-part-right"
}

.title-down-part {
    grid-area: title-down-part;
}

.down-part-left {
    grid-area: down-part-left;
}

.down-part-right {
    grid-area: down-part-right;
}

.down-part {
   margin-top: 100px;
}

.title-down-part {
    background-color: var(--brown);
    height: 26px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
}

#premature-optimization {
    position: relative;
    background-color: var(--brown);
    opacity: 0.9;
    padding: 100px 0;
    color: var(--white);
}

#premature-optimization:before {
    content:"";
    opacity: 0.1;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("../../src/images/background.png");
    background-size:cover;
}

.up-part {
    display: flex;
    gap: 30px;
}

.up-part-left p {
    font-family: 'Neucha', sans-serif;
    font-size: 24px;
}

.up-part-left-text {
    font-family: 'Neucha', sans-serif;
    font-size: 34px;
    line-height: 41px;
    margin-top: 30px;
}


.bottom-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
    "title-bottom-part title-bottom-part"
    "bottom-part-left bottom-part-right"
}

.title-bottom-part {
    grid-area: title-bottom-part;
}

.bottom-part-left {
    grid-area: bottom-part-left;
}

.bottom-part-right {
    grid-area: bottom-part-right;
}

.title-bottom-part {
    margin: 100px 0 20px 0;
    color: var(--brown);
    background: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
}

#distortion-of-novelty {
    position: relative;
    background-color: var(--light);
    opacity: 0.9;
    padding: 100px 0;
}

#distortion-of-novelty:before {
    content:"";
    opacity: 0.1;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url("../../src/images/background.png");
    background-size:cover;
}

.part-one {
    display: flex;
    gap: 30px;
}

.part-one-right p {
    font-family: 'Neucha', sans-serif;
    font-size: 24px;
}

.part-one-right-text {
    font-family: 'Neucha', sans-serif;
    font-size: 34px;
    line-height: 41px;
    margin-top: 30px;
}








